<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style/style.css">
</head>
 
<body>
  <div id="app">
    <button @click="count--">-</button>
    <h1> {{ count }} </h1>
    <button @click="addCount">+</button>
    <div class="box">
      <input :type="show ? 'text' : 'password' " :placeholder="holder">
      <button @click="show = !show " >  
        {{ show ? 'Скрыть' : 'Показать' }} 
      </button>

    </div>

    <div class="box">
      <input type="text" v-model="text">
      <p>Вы ввели - {{ text }} </p>
    </div>

    <div class="box">
      <input type="text" v-model="text" >
      <p v-if="text.length == 0" >Vi nichego ne vveli</p>
      <p v-else-if="text.length > 0 && text.length < 10">Vi vveli dannie do 10 symvolov</p>
      <p v-else>Vi vveli ochen mnogo simvolov</p>
    </div>

    <div class="box">
      <h2 :style="{background: activeColor }" v-if="open">text cherez v-if</h2>
      <h2 v-show="open">text cherez v-show</h2>
      <button @click="open = !open">click</button>
    </div>


  </div>















  <script src="urok.js"></script>
  <script src="script.js"></script>
</body>

</html>